# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FGFinal.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\kemal\PRojects\FGFinal\.idea\.idea.FGFinal\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
